#root {
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #0e1414;
}

.section {
  padding: 7.5rem 9.2rem;
  justify-content: center;
  width: 100%;
}

.header-container {
  max-width: fit-content;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid 1px rgba(255, 255, 255, 0.8);
  padding-bottom: 30px;
}

.vertical-content {
  max-width: 362px;
}

.gallery {
  width: fit-content;
  height: auto;
}

.description {
  width: 315px;
}
